In [2]:
                                      координаты программ
user_input = input('Введите координаты цели : ')

Введите координаты цели : 100x100

In [3]:
x, y= map(int, input().split())
print(type(x))
print(x,y)

1 23
<class 'int'>
1 23

In [ ]:
                                    Методы строк

In [6]:
rav4 = 'Тойота Rav4'
print(rav4)
rav4.find('a')

Тойота Rav4

8

In [10]:
rav4 = 'Тойота Rav4'
rav4.replace('а', 'б')

'Тойотб Rav4'

In [11]:
rav4 = 'Тойота Rav4'
rav4.upper()

'ТОЙОТА RAV4'

In [13]:
rav4 = 'Тойота Rav4'
rav4.lower()

'тойота rav4'

In [14]:
rav4 = 'Тойота Rav4'
rav4.isalpha()

False

In [15]:
rav4 = 'Тойота Rav4'
rav4.isnumeric()

False

In [16]:
coordinates = '1000'
coordinates.isnumeric()

True

In [4]:
coordinates = '1000'
coordinates.isnumeric()

True

In [10]:
int(coordinates)

1000

In [60]:
                                                 ###СПИСОК   []
    
             некий составной обьект, который хранит ссылочки(пути) на другие обьекты###
rav4 = 'ТОЙОТА'

In [11]:
my_list = []

In [91]:
my_list = [1, 2, 3, 4, 5, 6, ]

In [21]:
print(my_list)

[1, 2, 3, 4, 'fsdfgdfg', 5, 6]

In [23]:
my_list[-2]

5

In [25]:
my_list[0]

1

In [27]:
my_list[::2]

[1, 3, 'fsdfgdfg', 6]

In [32]:
my_list.append(77) #добавляет в конец!!!
print(my_list)

[1, 2, 3, 4, 'fsdfgdfg', 5, 6, 77, 77, 77, 77, 77]

In [35]:
my_list.extend([5,5,5]) # Дополняет список элементами в конце
print(my_list)

[1, 2, 3, 4, 'fsdfgdfg', 5, 6, 77, 77, 77, 77, 77, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [40]:
my_list.insert(3, 'aaa') # вставляет на определенную позицию
print(my_list)

[1, 2, 3, 'aaa', 'aaa', 4, 'fsdfgdfg', 5, 6, 77, 77, 77, 77, 77, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [43]:
del my_list[6] # удаляет в списке элемент под номером указаный в скобках
print(my_list)

[1, 2, 3, 'aaa', 'aaa', 4, 77, 77, 77, 77, 77, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [51]:
my_list.remove(5) # Удалил первую пятерку после 77
my_list

[1, 2, 3, 'aaa', 'aaa', 4, 77, 77, 77, 77, 77, 5]

In [62]:
my_list

[1, 2, 3, 4, 'rav4', 5, 6]

In [70]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # спиок списков
matrix[1]  # достает список номер 1

[4, 5, 6]

In [72]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # спиок списков
matrix[1][1]  # достает 1 элемент в первом списке

5

In [89]:
id(my_list)

140282831652808

In [75]:
                                      #Индексация Списка

In [78]:
range(100) # выдает последовательность 0 -100

range(0, 100)

In [82]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [87]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [93]:
min(my_list)

1

In [95]:
max(my_list)

6

In [97]:
my_list

[1, 2, 3, 4, 5, 6]

In [101]:
my_list.insert(1, 444)

In [103]:
my_list

[1, 444, 444, 444, 2, 3, 4, 5, 6]

In [106]:
my_list.sort()  #   сортировка
my_list

[1, 2, 3, 4, 5, 6, 444, 444, 444]

In [107]:
                                 # Изменяемые и не изменяемые обьекты

In [110]:
my_list.remove(444)
my_list

[1, 2, 3, 4, 5, 6]

In [113]:
second_list = my_list
my_list.append(100)
my_list

[1, 2, 3, 4, 5, 6, 100, 100, 100]

In [117]:
second_list

[1, 2, 3, 4, 5, 6, 100, 100, 100]

In [121]:
my_list[1] = 300 # добавляем значение "300" в номер 1
my_list

[1, 300, 3, 4, 5, 6, 100, 100, 100]

In [126]:
third_list = [1, 2]
print(third_list)
third_list.append(5)
print(third_list)
third_list.append(100)
print(third_list)

[1, 2]
[1, 2, 5]
[1, 2, 5, 100]

In [128]:
my_list[-1] = 222
my_list

[1, 300, 3, 4, 5, 6, 100, 100, 222]

In [130]:
valve = 42

id(valve)

10915808

In [132]:
mass = valve
id(mass)

10915808

In [135]:
mass = mass +1
id(mass)

10915904

In [138]:
rav4 = 'Тойота'
id(rav4)

140282831517568

In [144]:
my_car = rav4

my_car = my_car + ' rav4'
my_car

'Тойота rav4'

In [ ]:
                                     # Кортежи(TUPLE) - тоже самое, что список, только КОРТЕЖ НЕ изменяем

In [2]:
(1,2,3)

(1, 2, 3)

In [4]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [6]:
my_tuple + (5,6)

(1, 2, 3, 5, 6)

In [7]:
                                             # СЛОВАРИ {} - Ассоциативные списки c ключами!!!   'ключ': 'значение'

In [9]:
my_box = {}

In [12]:
my_box ['слон'] = 'Элефант'

In [16]:
my_box

{'слон': 'Элефант'}

In [21]:
my_box ['машина'] = 'RAV4'
my_box

{'слон': 'Элефант', 'машина': 'RAV4'}

In [23]:
my_box = {'слон': 'Элефант', 'машина': 'RAV4'}

In [26]:
my_box[3,1415926] = 'ПИ'

In [28]:
my_box

{'слон': 'Элефант', 'машина': 'RAV4', (3, 1415926): 'ПИ'}

In [30]:
my_box *3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [32]:
77 in my_box

False

In [34]:
'слон' in my_box

True

In [36]:
my_box['слон']

'Элефант'

In [40]:
my_box.get('кот', 'MURZIK')

'MURZIK'

In [44]:
my_box.get('слон', 'MURZIK')

'Элефант'

In [46]:
my_box.setdefault('кот', 'MURZIK')

'MURZIK'

In [48]:
my_box

{'слон': 'Элефант', 'машина': 'RAV4', (3, 1415926): 'ПИ', 'кот': 'MURZIK'}

In [49]:
                                # МНОЖЕСТВО - set() ПОХОЖЕ НА СПИСОК, Но ХРАНИТ УНИКАЛЬНЫЕ ОБЬЕКТЫ

In [51]:
set()

set()

In [55]:
my_set = set([1,2,3,4,5,6,78,8,65,54,3,])

In [57]:
my_set     # выводит только уникальные элементы

{1, 2, 3, 4, 5, 6, 8, 54, 65, 78}

In [59]:
other_set = {2,3,4,5,6,7,8,9,5,4,3,6}
other_set   # выводит только уникальные элементы

{2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
my_set | other_set   # обьединение

{1, 2, 3, 4, 5, 6, 7, 8, 9, 54, 65, 78}

In [65]:
my_set & other_set  # пересечение - только те, которые входят и в первый и во второй список

{2, 3, 4, 5, 6, 8}

In [66]:
my_set - other_set   # ВЫчитание - попали только те элементы из первого спискаБ которых нет во втором списке

{1, 54, 65, 78}

In [74]:
#                                            Методы множества
#               Добавление - .add()
#               Удаление -   .pop() discard()
#               Обновление - .update()

In [75]:
#                                    БАЗОВЫЕ ОПЕРАТОРЫ ЯЗЫКА